* {
    color: aliceblue;
    overflow: visible;
}

body{
background: rgb(255,120,84);
background: linear-gradient(90deg, rgba(255,120,84,1) 0%, rgba(253,38,122,1) 100%);
height: 100vh;
width: 100vw;
}

.box-conponent.heading{
    color: aliceblue;
}